<div class="dashboard-container">
  <div class="container-fluid">
    <div class="row">
      <!-- Column 1 (30%) -->
      <div class="col-md-4">
        <!-- Card: Add Refugee Camp -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{isEditingCamp ? 'Update' : 'Add'}} Refugee Camp</h5>
            <form>
              <div class="form-group">
                <label for="campSelection">Select Option</label>
                <select
                  class="form-control"
                  id="campSelection"
                  [(ngModel)]="selectedAreaIdOrCampId"
                  name="campSelection"
                  (change)="onCampSelectionChange()"
                >
                  <option value="">Add New Camp</option>
                  <optgroup label="Add by Area Id:">
                    <option *ngFor="let area of affectedAreas" [value]="'area_' + area.areaId">
                      {{area.areaId}}
                    </option>
                  </optgroup>
                  <optgroup label="Update by Camp Id:">
                    <option *ngFor="let camp of refugeeCamps" [value]="camp.campId">
                      {{camp.campId}}
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="form-group">
                <label for="refugeeLatitude">Latitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="refugeeLatitude"
                  placeholder="Enter latitude"
                  [(ngModel)]="refugeeCampLatitude"
                  name="refugeeLatitude"
                />
              </div>
              <div class="form-group">
                <label for="refugeeLongitude">Longitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="refugeeLongitude"
                  placeholder="Enter longitude"
                  [(ngModel)]="refugeeCampLongitude"
                  name="refugeeLongitude"
                />
              </div>
              <div class="button-group">
                <button type="button" class="btn btn-danger" (click)="toggleRefugeePickMode()">
                  {{ RefugeepickMode ? 'Cancel' : 'Pick' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="addOrUpdateRefugeeCamp()">
                  {{isEditingCamp ? 'Update' : 'Add'}}
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Card: Add Affected Area -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{isEditing ? 'Update' : 'Add'}} Affected Area</h5>
            <form>
              <div class="form-group">
                <label for="areaId">Area Id</label>
                <select 
                  class="form-control"
                  id="areaId"
                  name="areaId"
                  [(ngModel)]="selectedAreaId"
                  (change)="onAreaIdChange()"
                >
                  <option value="" selected>Add</option>
                  <option *ngFor="let area of affectedAreas" [value]="area.areaId">
                    {{area.areaId}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="affectedLatitude">Latitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="affectedLatitude"
                  placeholder="Enter latitude"
                  [(ngModel)]="affectedAreaLatitude"
                  name="affectedLatitude"
                />
              </div>
              <div class="form-group">
                <label for="affectedLongitude">Longitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="affectedLongitude"
                  placeholder="Enter longitude"
                  [(ngModel)]="affectedAreaLongitude"
                  name="affectedLongitude"
                />
              </div>
              <div class="form-group">
                <label for="radius">Radius</label>
                <input
                  type="text"
                  class="form-control"
                  id="radius"
                  placeholder="Enter radius"
                  [(ngModel)]="affectedAreaRadius"
                  name="radius"
                />
              </div>
              <div class="form-group">
                <label for="severity">Severity</label>
                <select
                class="form-control"
                id="severity"
                [(ngModel)]="affectedAreaSeverity"
                name="severity"
              >
                <option value="" disabled>Select severity</option>
                <option value="1">Moderate</option>
                <option value="2">High</option>
                <option value="3">Severe</option>
              </select>
              </div>
              <div class="form-group">
                <label for="disasterType">Disaster Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="disasterType"
                  placeholder="Enter disaster type"
                  [(ngModel)]="disasterType"
                  name="disasterType"
                />
              </div>
              <div class="button-group">
                <button type="button" class="btn btn-danger" (click)="toggleAffectedPickMode()">
                  {{ AffectedpickMode ? 'Cancel' : 'Pick' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="addOrUpdateAffectedArea()">
                  {{selectedAreaId ? 'Update' : 'Add'}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card card-map">
          <div class="card-body p-0">
            <div id="map"><app-admin-map></app-admin-map></div>
          </div>
        </div>
        
        <!-- Card: Refugee Camps List -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Refugee Camps</h5>
            <div class="scrollable-list">
              <div class="list-item" *ngFor="let camp of refugeeCamps">
                <div class="item-content">
                  <p>CampId: {{camp.campId}} | Latitude: {{camp.latitude}} | Longitude: {{camp.longitude}}</p>
                </div>
                <div class="item-actions">
                  <button class="btn btn-primary btn-sm" (click)="updateCamp(camp.campId)">
                    <span class="material-symbols-outlined">edit</span>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="deleteCamp(camp.campId)">
                    <span class="material-symbols-outlined">delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card: Affected Areas List -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Affected Areas</h5>
            <div class="scrollable-list">
              <div class="list-item" *ngFor="let area of affectedAreas">
                <div class="item-content">
                  <p>{{area.areaId}}  ---> Latitude: {{area.latitude}} | Longitude: {{area.longitude}} | Radius: {{area.radius}} | Severity: {{getSeverity(area.severity)}} | Disaster Type: {{area.disasterType}}</p>
                </div>
                <div class="item-actions">
                  <button class="btn btn-primary btn-sm" (click)="updateArea(area.areaId)">
                    <span class="material-symbols-outlined">edit</span>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="deleteArea(area.areaId)">
                    <span class="material-symbols-outlined">delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
