<div class="dashboard-container">
  <div class="container-fluid">
    <div class="row">
      <!-- Column 1 (30%) -->
      <div class="col-md-4">
        <!-- Card: Add Refugee Camp -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Refugee Camp</h5>
            <form [formGroup]="refugeeCampForm" (ngSubmit)="addRefugeeCamp()">
              <div class="form-group">
                <label for="refugeeLatitude">Latitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="refugeeLatitude"
                  placeholder="Enter latitude"
                  formControlName="refugeeLatitude"
                />
                <div *ngIf="refugeeCampForm.get('refugeeLatitude')?.invalid && (refugeeCampForm.get('refugeeLatitude')?.dirty || refugeeCampForm.get('refugeeLatitude')?.touched)" class="error-message">
                  <div *ngIf="refugeeCampForm.get('refugeeLatitude')?.errors?.['required']">Latitude is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="refugeeLongitude">Longitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="refugeeLongitude"
                  placeholder="Enter longitude"
                  formControlName="refugeeLongitude"
                />
                <div *ngIf="refugeeCampForm.get('refugeeLongitude')?.invalid && (refugeeCampForm.get('refugeeLongitude')?.dirty || refugeeCampForm.get('refugeeLongitude')?.touched)" class="error-message">
                  <div *ngIf="refugeeCampForm.get('refugeeLongitude')?.errors?.['required']">Longitude is required.</div>
                </div>
              </div>
              <div class="button-group">
                <button type="button" class="btn btn-danger" (click)="toggleRefugeePickMode()">
                  {{ RefugeepickMode ? 'Cancel' : 'Pick' }}
                </button>
                <button type="submit" class="btn btn-primary">
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Card: Add Affected Area -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Affected Area</h5>
            <form [formGroup]="affectedAreaForm" (ngSubmit)="addAffectedArea()">
              <div class="form-group">
                <label for="affectedLatitude">Latitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="affectedLatitude"
                  placeholder="Enter latitude"
                  formControlName="affectedLatitude"
                />
                <div *ngIf="affectedAreaForm.get('affectedLatitude')?.invalid && (affectedAreaForm.get('affectedLatitude')?.dirty || affectedAreaForm.get('affectedLatitude')?.touched)" class="error-message">
                  <div *ngIf="affectedAreaForm.get('affectedLatitude')?.errors?.['required']">Latitude is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="affectedLongitude">Longitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="affectedLongitude"
                  placeholder="Enter longitude"
                  formControlName="affectedLongitude"
                />
                <div *ngIf="affectedAreaForm.get('affectedLongitude')?.invalid && (affectedAreaForm.get('affectedLongitude')?.dirty || affectedAreaForm.get('affectedLongitude')?.touched)" class="error-message">
                  <div *ngIf="affectedAreaForm.get('affectedLongitude')?.errors?.['required']">Longitude is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="radius">Radius</label>
                <input
                  type="text"
                  class="form-control"
                  id="radius"
                  placeholder="Enter radius"
                  formControlName="radius"
                />
                <div *ngIf="affectedAreaForm.get('radius')?.invalid && (affectedAreaForm.get('radius')?.dirty || affectedAreaForm.get('radius')?.touched)" class="error-message">
                  <div *ngIf="affectedAreaForm.get('radius')?.errors?.['required']">Radius is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="severity">Severity</label>
                <select
                  class="form-control"
                  id="severity"
                  formControlName="severity"
                >
                  <option value="" disabled>Select severity</option>
                  <option value="low">Moderate</option>
                  <option value="medium">High</option>
                  <option value="high">Severe</option>
                </select>
                <div *ngIf="affectedAreaForm.get('severity')?.invalid && (affectedAreaForm.get('severity')?.dirty || affectedAreaForm.get('severity')?.touched)" class="error-message">
                  <div *ngIf="affectedAreaForm.get('severity')?.errors?.['required']">Severity is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="disasterType">Disaster Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="disasterType"
                  placeholder="Enter disaster type"
                  formControlName="disasterType"
                />
                <div *ngIf="affectedAreaForm.get('disasterType')?.invalid && (affectedAreaForm.get('disasterType')?.dirty || affectedAreaForm.get('disasterType')?.touched)" class="error-message">
                  <div *ngIf="affectedAreaForm.get('disasterType')?.errors?.['required']">Disaster Type is required.</div>
                </div>
              </div>
              <div class="button-group">
                <button type="button" class="btn btn-danger" (click)="toggleAffectedPickMode()">
                  {{ AffectedpickMode ? 'Cancel' : 'Pick' }}
                </button>
                <button type="submit" class="btn btn-primary">
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Column 2 (70%) -->
      <div class="col-md-8">
        <!-- Map Card -->
        <div class="card">
          <div class="card-body">
            <div id="map"><app-admin-map></app-admin-map></div>
          </div>
        </div>
        
        <!-- Card: Refugee Camps List -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Refugee Camps</h5>
            <div class="scrollable-list">
              <div class="list-item" *ngFor="let camp of refugeeCamps">
                <div class="item-content">
                  <p>Latitude: {{camp.latitude}} | Longitude: {{camp.longitude}}</p>
                </div>
                <div class="item-actions">
                  <button class="btn btn-primary btn-sm" (click)="updateCamp(camp.id)">
                    <span class="material-symbols-outlined">edit</span>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="deleteCamp(camp.id)">
                    <span class="material-symbols-outlined">delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card: Affected Areas List -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Affected Areas</h5>
            <div class="scrollable-list">
              <div class="list-item" *ngFor="let area of affectedAreas">
                <div class="item-content">
                  <p>Latitude: {{area.latitude}} | Longitude: {{area.longitude}} | Radius: {{area.radius}} | Severity: {{area.severity}} | Disaster Type: {{area.disasterType}}</p>
                </div>
                <div class="item-actions">
                  <button class="btn btn-primary btn-sm" (click)="updateArea(area.id)">
                    <span class="material-symbols-outlined">edit</span>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="deleteArea(area.id)">
                    <span class="material-symbols-outlined">delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
