:host {
    display: block;
    position: relative;
  }

  .navbar {
    position: fixed; /* Fixes the navbar to the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050; /* Ensure the navbar is above the map and other elements */
    background: #007bff; /* Navbar background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
    height: 8vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .nav-item{
    font-size: larger;
    margin-right: 3vh;
    font-weight: 500;
  }