<nav class="navbar">
    <div class="logo">
      <img src="assets/disaster-logo.png">
      <a routerLink="/">Disaster Management Portal</a>
    </div>
    <button class="navbar-toggler" (click)="toggleNavbar()">
      <i class='bx bx-menu'></i>
    </button>
    <div class="nav-links" [ngClass]="{'active': navbarOpen}">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active" (click)="closeNavbar()">
            <i class='material-symbols-outlined'>grid_view</i> Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/precautions" routerLinkActive="active" (click)="closeNavbar()">
            <i class='material-symbols-outlined'>import_contacts</i> Precautions
          </a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" (click)="closeNavbar()">
            <i class='material-symbols-outlined'>lightbulb</i> About
          </a>
        </li>
      </ul>
    </div>
  </nav>
  