<div class="not-found-container">
    <div class="text-section">
        <div class="image-section">
            <h1>Oops! Page Not Found</h1>
            <p>It seems the page you're looking for doesn't exist.</p>
            <a routerLink="/" class="back-home-btn">Go Back Home</a>
            <video style="-webkit-mask-box-image: url('https://www.flaticon.com/media/dist/min/img/video/rex/mask.svg'); mask-image: url('https://www.flaticon.com/media/dist/min/img/video/rex/mask.svg');">
                <source src="https://www.flaticon.com/media/dist/min/img/video/rex/video.mp4" type="video/mp4">
            </video>
          </div>

